/vendor/
/.env
/.env.local
/var/log/*
!/var/log/.gitkeep
/keys/private.pem
/keys/public.pem
/.idea/
/.vscode/
/.phpunit.cache/
.phpunit.result.cache
/composer.phar
.DS_Store
*.log

# Windows OS files
Thumbs.db
Desktop.ini

# Editor backups
*.swp
*~
